.navbar {
    background-color: #030303;
}

.quem-somos {
    background-color:#FAFAFA;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #9fc23eb6;
}

.bg-footer {
    background-color:black ;
    color: white;
}